<section class="sugerencia" id="noticias">
  <div class="titulo sugerencia">
    <h2 class="titulotext">Ofertas de la semana</h2>
  </div>
  <main class="holder-ofertas">
    {{#each ofertas}}
      <div class="sugerencia">
        <div class="caja">
          <div class="texto">
            <h3>{{titulo}}</h3>
          </div>
          <div class="imgcaja">
            {{#if imagen}}
              <span><img src="{{imagen}}" /></span>

            {{/if}}
          </div>

          <div class="texto">
            <h4>{{subtitulo}}</h4>
            <p>{{cuerpo}}</p>
          </div>
        </div>

        <!--        <h3>{{titulo}}</h3>
        <h4>{{subtitulo}}</h4>
        <p>{{cuerpo}}</p>
        {{#if imagen}}
          <img src="{{imagen}}" />
        {{/if}}-->
      </div>
    {{/each}}
  </main>
</section>